{
  "openapi": "3.1.0",
  "info": {
    "title": "Asserto AI - API",
    "description": "API for Asserto  AI",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://app.asserto.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/prompts": {
      "get": {
        "tags": [
          "API"
        ],
        "summary": "Prompt List",
        "description": "Get all project's prompts. The project is given by its API key.",
        "operationId": "prompts_list_api_prompts_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "API Key in the format: `Authorization: ApiKey <key>`",
              "title": "Authorization"
            },
            "description": "API Key in the format: `Authorization: ApiKey <key>`"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIPromptList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/prompts/{slug}": {
      "get": {
        "tags": [
          "API"
        ],
        "summary": "Prompt by Slug",
        "description": "Get single prompt by slug.\n\nGet only major versions",
        "operationId": "prompts_get_api_prompts__slug__get",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Slug"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "API Key in the format: `Authorization: ApiKey <key>`",
              "title": "Authorization"
            },
            "description": "API Key in the format: `Authorization: ApiKey <key>`"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "APIPromptList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/PromptSchema"
            },
            "type": "array",
            "title": "Data"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "APIPromptList"
      },
      "ContentText": {
        "properties": {
          "type": {
            "type": "string",
            "const": "text",
            "title": "Type"
          },
          "text": {
            "type": "string",
            "title": "Text"
          }
        },
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "title": "ContentText"
      },
      "GenerationParams": {
        "properties": {
          "temperature": {
            "type": "number",
            "title": "Temperature",
            "default": 0.1
          }
        },
        "type": "object",
        "title": "GenerationParams"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "MCP_PromptMessage": {
        "properties": {
          "role": {
            "type": "string",
            "title": "Role"
          },
          "content": {
            "$ref": "#/components/schemas/ContentText"
          }
        },
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "title": "MCP_PromptMessage",
        "description": "prompt message as used in MCP protocol"
      },
      "MCP_ToolDef": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "inputSchema": {
            "$ref": "#/components/schemas/MCP_Tool_InputSchema"
          }
        },
        "type": "object",
        "required": [
          "name",
          "inputSchema"
        ],
        "title": "MCP_ToolDef"
      },
      "MCP_Tool_InputSchema": {
        "properties": {
          "type": {
            "type": "string",
            "const": "object",
            "title": "Type",
            "default": "object"
          },
          "properties": {
            "additionalProperties": true,
            "type": "object",
            "title": "Properties"
          },
          "required": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Required"
          }
        },
        "type": "object",
        "required": [
          "properties",
          "required"
        ],
        "title": "MCP_Tool_InputSchema"
      },
      "ModelInfo": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "kind": {
            "type": "string",
            "title": "Kind"
          },
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "name",
          "kind",
          "provider"
        ],
        "title": "ModelInfo"
      },
      "PromptSchema": {
        "properties": {
          "slug": {
            "type": "string",
            "title": "Slug"
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/MCP_PromptMessage"
            },
            "type": "array",
            "title": "Messages"
          },
          "model": {
            "$ref": "#/components/schemas/ModelInfo"
          },
          "genParams": {
            "$ref": "#/components/schemas/GenerationParams"
          },
          "respFormat": {
            "type": "string",
            "title": "Respformat"
          },
          "variables": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Variables",
            "default": []
          },
          "tools": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/MCP_ToolDef"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tools"
          }
        },
        "type": "object",
        "required": [
          "slug",
          "messages",
          "model",
          "genParams",
          "respFormat",
          "tools"
        ],
        "title": "PromptSchema",
        "description": "Prompt info with nested tool definitions"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}
